@page "/designer"

<PageTitle>designer</PageTitle>

<h3>Designer</h3>

<h3>Flexbox</h3>
<h3>display:flex;justify-content:space-between;</h3>

<div class="row" style="height:250px; display:flex;justify-content:space-between;">
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
</div>

<h3>display:flex;justify-content:space-around;</h3>

<div class="row" style="height:250px; display:flex;justify-content:space-around;">
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
</div>

<h3>display:flex;justify-content:flex-start;</h3>

<div class="row" style="height:250px; display:flex;justify-content:flex-start;">
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
</div>

<h3>display:flex;justify-content:flex-end;</h3>

<div class="row" style="height:250px; display:flex;justify-content:flex-end;">
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
</div>

<h3>DISTRIBUIR VERTICALMENTE</h3>

<div class="row" style="height:500px">
    <div class="col-4" style="border:solid black 5px;display:flex;align-items:flex-start;">
        <div style="height:100px; width:100px;background-color:red;margin:5px">
            <p>display:flex;align-items:flex-start;</p>
        </div>
        <div style="height:100px; width:100px;background-color:red;margin:5px"></div>
    </div>
    <div class="col-4" style="border:solid black 5px; display:flex;align-items:center;">
        <div style="height:100px; width:100px;background-color:red;margin:5px">
            <p>display:flex;align-items:center;</p>
        </div>
        <div style="height:100px; width:100px;background-color:red;margin:5px"></div>
    </div>
    <div class="col-4" style="border:solid black 5px; display:flex; align-items:flex-end;">
        <div style="height:100px; width:100px;background-color:red;margin:5px">
            <p>display:flex;align-items:flex-end;</p>
        </div>
        <div style="height:100px; width:100px;background-color:red;margin:5px"></div>
    </div>
</div>

<hr />

<h3>FLEX DIRECTION</h3>

<p>width:100%; display:flex;flex-wrap:wrap;</p>
<div style="width:100%; display:flex;flex-wrap:wrap;">
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
    <div style="height:100px; width:100px;background-color:green;margin:5px"></div>
</div>

<div class="row" style="height:500px">
    <div class="col-6" style="border: solid black 1px; border-right:none;">
        <p>col 1</p>
    </div>
    <div class="col-6" style="height:100%;border: solid black 1px;">
        <div class="row" style="height:50%; border-bottom: solid 1px">
            <p>texto 2</p>
        </div>
        <div class="row">
            <p>texto 3</p>
        </div>
    </div>
</div>

<footer style="height:2rem"></footer>

@code {

}
